---
import type { MarkdownHeading } from "astro";
import TableOfContents from "./TableOfContents";
import MoreMenu from "./MoreMenu.astro";

type Props = {
  headings: MarkdownHeading[];
  editUrl: string;
};

const { headings, editUrl } = Astro.props;
---

<nav class="w-full sticky top-0 pt-4" aria-labelledby="grid-right">
  <div class="h-full p-0 pt-[var(--doc-padding)] overflow-auto">
    <TableOfContents client:media="(min-width: 40em)" headings={headings} />
    <!-- <MoreMenu editHref={editUrl} /> -->
  </div>
</nav>
