---
const locations = [
  {
    title: "Main Address",
    address: "747 S Galena St Unit 450, Aspen, CO 81611",
    mapUrl: "https://maps.app.goo.gl/XL7GGSyDVDmvzm7N8",
    embedUrl: "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3092.5220427255226!2d-106.82297432255818!3d39.185585129645986!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x874039624954bd75%3A0x2545c9b438cf45bb!2s747%20S%20Galena%20St%20%23450%2C%20Aspen%2C%20CO%2081611!5e0!3m2!1sen!2sus!4v1727241559947!5m2!1sen!2sus"
  },
  {
    title: "City Market",
    address: "711 E Cooper Ave, Aspen, CO 81611",
    mapUrl: "https://maps.app.goo.gl/hWniv5gfDyCHPvEs5",
    embedUrl: "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3092.4515283484648!2d-106.81838392404926!3d39.18718777166363!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87403bd84ff6cf43%3A0x4ec99374e318c58b!2sCity%20Market!5e0!3m2!1sen!2sus!4v1727241758086!5m2!1sen!2sus"
  },
  {
    title: "Liquor Store",
    address: "710 E Durant Ave, Aspen, CO 81611",
    mapUrl: "https://maps.app.goo.gl/cVWfmSAGG4exrtXC6",
    embedUrl: "https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d773.112881775419!2d-106.815797!3d39.1871878!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87403bd8f3876cb3%3A0x7515eb3621043a87!2sAspen%20Grog%20Shop%20-%20Order%20Online*21!5e0!3m2!1sen!2sus!4v1728914574141!5m2!1sen!2sus"
  },
  {
    title: "Carl's Pharmacy",
    address: "306 E Main St, Aspen, CO 81611",
    mapUrl: "https://maps.app.goo.gl/AniFpMDFtY7LXxc68",
    embedUrl: "https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d518.980042074563!2d-106.81579702841503!3d39.18718777310626!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87403bd8f3876cb3%3A0x7515eb3621043a87!2sAspen%20Grog%20Shop%20-%20Order%20Online*21!5e0!3m2!1sen!2sus!4v1727241952345!5m2!1sen!2sus"
  },
  {
    title: "4 Mountain Sports - Ski Rentails",
    address: "520 E Durant Ave, Aspen, CO 81611",
    mapUrl: "https://maps.app.goo.gl/61mkiNWWbBimvEYv6",
    embedUrl: "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11148.244623826113!2d-106.82888807892931!3d39.18749550391678!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x874039628fa19387%3A0xb7a9e93833bcec98!2sFour%20Mountain%20Sports!5e0!3m2!1sen!2sus!4v1728914457134!5m2!1sen!2sus"
  },
  {
    title: "Hospital",
    address: "401 Castle Creek Rd, Aspen, CO 81611",
    mapUrl: "https://maps.app.goo.gl/Aou3BwhizbVNRchw9",
    embedUrl: "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3092.3088182867345!2d-106.8391643!3d39.19043109999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8740397372f0ac0d%3A0x52be05b49274b503!2sAspen%20Valley%20Hospital!5e0!3m2!1sen!2sus!4v1728914354117!5m2!1sen!2sus"
  }
];
---
<!-- MapLocations.astro -->
<div class="max-w-4xl px-4 mx-auto sm:px-6 lg:px-8">
  <div class="grid grid-cols-1 gap-6 lg:grid-cols-2">
    {locations.map((location) => (
      <div class="overflow-hidden transition-all duration-300 rounded-lg shadow-md bg-slate-800 hover:shadow-lg">
        <div class="p-3">
          <h2 class="mb-1 text-lg font-semibold text-slate-100" id={location.title.toLowerCase().replace(/\s+/g, '-')}>
            {location.title}
          </h2>
          <a 
            href={location.mapUrl} 
            class="flex items-center text-xs transition-colors duration-200 text-cyan-400 hover:text-cyan-300"
            target="_blank"
            rel="noopener noreferrer"
          >
            <span class="truncate">{location.address}</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 w-4 h-4 ml-1" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
            </svg>
          </a>
        </div>
        <div class="aspect-w-16 aspect-h-9">
          <iframe
            src={location.embedUrl}
            class="w-full h-full"
            style="border:0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade">
          </iframe>
        </div>
      </div>
    ))}
  </div>
</div>
