---
type Props = {}
---

<a href="#article" class="sr-only focus:not-sr-only absolute p-1 text-lg top-0 left-0 right-0 z-9 block text-center bg-[var(--theme-text-accent)] text-[var(--theme-bg)] rounded outline outline-1 outline-[var(--theme-bg)] outline-offset-0">
  <span>Skip to Content</span>
</a>